/* font link  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    font-family: Raleway ;
    font-size: 12px !important;
}
nav .login_button{
    background-color: #483875;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
nav .login_button:hover{
    border: solid 1px #483875;
    color:#483875 ;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    color: #483875 !important;
    letter-spacing: 1.5px;
    transition: all .5s;
    font-weight: bold;
}
.dropdown-menu a{
    padding:2px ;
}