/* font link  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    font-family: Raleway ;
    font-size: 12px !important;
}
nav .login_button{
    background-color: #483875;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
nav .login_button:hover{
    border: solid 1px #483875;
    color:#483875 ;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    color: #483875 !important;
    letter-spacing: 1.5px;
    transition: all .5s;
    font-weight: bold;
}
.dropdown-menu a{
    padding:2px ;
}
/* start hero section */
.hero{
    background: url(./hero-image.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero_content h1{
    max-width: 60%;
    margin: auto;
}
.hero_content button{
    padding: 8px;
    font-weight:500;
    background-color: #FF6F6F;
    color: white;
}
@media screen and (max-width:768px) {
    .hero{
        height: 60vh;
    }
    .hero_content h1 {
        font-size: clamp(15px, 1vw, 100px);
        line-height: 20px;
    }
    .hero_content button{
        font-size: 10px;
        
    }
}
@media screen and (min-width:768px) {
    .hero_content button{
        font-size: x-large !important;
        padding: 10px !important;
        margin-top:20px !important;
    }
}
/* end hero section  */