/* font link  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --ubunto: Ubuntu ;
    --raleway:Raleway;
    --primary:#483875 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    font-family: Raleway ;
    font-size: 12px !important;
}
nav .login_button{
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
nav .login_button:hover{
    border: solid 1px var(--primary);
    color:var(--primary) ;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    color: var(--primary) !important;
    letter-spacing: 1.5px;
    transition: all .5s;
    font-weight: bold;
}
.dropdown-menu a{
    padding:2px ;
}
/* start hero section */
.hero{
    background: url(./hero-image.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    object-fit: contain;
    font-family: "Ubuntu";
}

.hero_content button{
    padding: 8px;
    font-weight:500;
    background-color: #FF6F6F;
    color: white;
    
}
@media screen and (max-width:768px) {
    .hero{
        height: 60vh;
    }
    .hero_content h1 {
        font-size: clamp(15px, 1vw, 100px);
        line-height: 20px;
    }
    .hero_content button{
        font-size: 10px;
        
    }
}
@media screen and (min-width:768px) {
    .hero_content button{
        font-size: x-large !important;
        padding: 10px !important;
        margin-top:10px !important;
    }
}
/* start feature section  */
.feature {
    margin-top: -100px;
}
.feature_content{
    width: 100%;
    min-height: 270px;
    background-color: rgb(242, 242, 242);
    font-family: Ubuntu;
}
.feature_content input {
    background-color: #FFDDDD;
}
.feature_child{
    width: 100px;
}
.feature_child h4 {
    color: var(--primary);
}
.feature_child .font_family {
    font-family: Raleway ;
    font-weight: 500;
}
.feature_hosting{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 30px;
}
.feature_content form input:focus{
    background-color:#FFDDDD;
    outline: none;
    padding-left: 40px;
    transition: all 1s;
}
@media screen and (max-width:768px) {
    .feature_content form{
        width: 100% !important;
    }
}
/* start card section */
#card{
    font-family: var(--ubunto);
}
/* start plan section  */
.plan {
    font-family: var(--ubunto);
}
.card-one{
    width: auto;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 25px 0px;
    padding: 0px !important;
    position: relative;
}
.plan .button-one {
    background-color: var(--primary);
    color: white;
   
}
.plan .button-two {
    border:solid 1px var(--primary);
}
.plan button:hover {
    border:solid 1px var(--primary);
}
.card-one .p-text{
    text-transform: capitalize;
    font-size: small;
}
.card-one ul li {
    text-transform: capitalize;
    font-size: small;
    padding: 4px;
    list-style-type: none;
    font-family: var(--raleway);
}
.card-one .card-one-bottm {
    width: 100%;
    border:none ;
    padding: 10px;
    border-radius: 0 0 25px 0px;
    background-color: var(--primary);
    color: white;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* end card one  */